.app-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-title {
    font-size: 48px;
    font-weight: 100;
    color: #e9dad9;
    margin: 0;
}

.todo-card {
    width: 25%;
    border: 1px solid #dbdbdb;
    padding: 0;
    background-color: white;
}
